parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: talksymfony
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: it
    secret: ThisTokenIsNotSoSecretChangeIt
    ruby: /usr/bin/ruby
    scss: /usr/bin/sass
    compass: /usr/bin/compass
    compass_load_path: '%kernel.root_dir%/../compass/extensions'
