{#/**#}
{#* Created by Alessio Barnini#}
{#* Twitter: @barno7#}
{#* Email : alessio@ibuildings.it#}
{#* Linkedin : https://www.linkedin.com/in/alessiobarnini#}
{#* Web : http://www.ibuildings.it#}
{#*/#}
<p>Cancellazione effettuata correttamente - User deleted</p>
<a href="{{ path('welcome') }}">Homepage</a>

