{#/**#}
{#* Created by Alessio Barnini#}
{#* Twitter: @barno7#}
{#* Email : alessio@ibuildings.it#}
{#* Linkedin : https://www.linkedin.com/in/alessiobarnini#}
{#* Web : http://www.ibuildings.it#}
{#*/#}

{% extends "::base.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <h1>Inserisci un nuovo utente</h1>
    {{ form(form,{'action':path('welcome')}) }}

    <hr>
    <p><a href="{{ path('get_utenti') }}">Lista Utenti</a></p>

{% endblock %}
